<h1>Teste de proficiência</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem vindo a página para um teste de proficiência! ;)
</p>
<p>
Clique no (ou copie e cole na barra de endereço do navegador o)
link abaixo para ativar a sua conta
</p>

<%= link_to "Ativar", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
