<h1>Reconfigurar senha</h1>

<p>Para reconfigurar sua senha, clique no link abaixo</p>

<%= link_to "Reconfigurar senha", edit_password_reset_url(@user.reset_token,
                                                          email: @user.email,
          user_type: @user.is_a?(Student) ? "student" : "admin") %>

<p>Este link expirará em duas horas.</p>

<p>Se você não requisitou essa Reconfiguração de senha, por favor ignore este email e
sua senha não será alterada ou perdida.</p>
