<div class="col-md-6">
  <%= gravatar_for student, size: 50 %>
  <%= link_to student.name, student %>
  <% if logged_in_as_admin? %>
    | <%= link_to "Apagar", student, method: :delete,
                                  data: { confirm: "Tem certeza?" } %>
  <% end %>
</div>
