<% provide(:title, @custom_title || 'Todos os cursos') %>
<h1><%= @custom_title || "Todos os cursos" %></h1>

<% if @courses.empty? %>
  <h2>Nenhum curso matriculado</h2>
<% else %>

<%= will_paginate %>

<div class="courses">
  <%= render @courses %>
</div>

<%= will_paginate %>

<% end %>
