<footer class="footer">
  <small>
    <% #if not(logged_in_as_admin?) && not(logged_in_as_student?) %>
      <ul>
        <li><%= link_to "Criar conta admin", new_admin_path %></li>
        <li><%= link_to "Entrar como admin", '#' %></li>
      </ul>
    <% #else %>
      Teste de proficiência. Sistema de cadastramento escolar.<br>
    <% #end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Perfil do desenvolvedor no Github",
          "https://github.com/hugohernani/", target: "blank" %></li>
    </ul>
  </nav>
</footer>
